<form action ="/payment/results">

<label for ="a"> APR </label>
<input id="a" type = "text" name="apr_input">

<label for ="y"> Number of years </label>
<input id="y" type = "text" name="years_input">

<label for ="d"> Principal </label>
<input id="d" type = "text" name="principal_input">

<button> Calculate monthly payment </button>

</form>
