<form action ="/random/results">

<label for ="m"> Minimum </label>
<input id="m" type = "text" name="min_input">

<label for ="v"> Maximum </label>
<input id="v" type = "text" name="max_input">


<button> Pick random number </button>

</form>
