<dl>
<dt>
APR
</dt>
<dd>
<%= @the_apr %>

<dt>
Number of years 
</dt>
<dd>
<%= @the_year %>
</dd>
</dl>

<dt>
Principal
</dt>
<dd>
<%= @the_principal %>
</dd>
</dl>

<dt>
Payment
</dt>
<dd>
<%= @payment_result %>
</dd>
</dl>

<a href="/payment/new"> Calculate another payment </a>
