<dl>
<dt>
Minimum
</dt>
<dd>
<%= @the_min %>

<dt>
Maximum
</dt>
<dd>
<%= @the_max %>
</dd>
</dl>

<dt>
Maximum
</dt>
<dd>
<%= @random_result %>
</dd>
</dl>



<a href="/random/new"> Pick another random number </a>
